.app-layout {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: var(--color-accent);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100; // чтобы быть выше контента
  }
}

.bottom-nav-btn {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 45px;
    height: 45px;
    transition: transform 0.2s ease;
  }

  &:active img {
    transform: scale(0.95);
  }

  &.large-left img {
    width: 45px;
    height: 45px;
  }

  &.large-center img {
    width: 45px;
    height: 45px;
  }
}
