.button-box {
  width: 100%;
  max-width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

.btn {
  height: 100px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1;

  &.top {
    justify-content: flex-start;
  }
}
