.chat-main {
  position: fixed;
  top: 65px; /* высота хедера */
  bottom: 60px; /* высота футера */
  left: 0;
  right: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse; /* оставляем, если рендерите старые вверху, новые внизу */
  padding: 11px 0; /* ваши отступы */
  z-index: 1; /* ниже, чем header/footer */
}
