// ChatMain.scss
.chat-main {
  flex: 1;
  margin-top: 66px; // высота хедера
  margin-bottom: 65px; // высота футера (предполагаю 65px как ты писал)
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse; // <-- чтобы последние сообщения были внизу
  padding: 11px 0; // отступ от футера
}
