# Игнорировать глобально
HELP.md
*.log
*.lock
*.class
*.jar
*.war
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
out/

# Eclipse STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Gradle wrapper (сохраняем только wrapper)
!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties

# Исключить build/, но сохранить src/ и ключевые файлы
/build/
!src/
!build.gradle.kts
!settings.gradle.kts
!docker-compose.yaml
!Dockerfile
!.env