.spacer-container {
  margin-top: 20px; // ⬅️ Отступ сверху от предыдущих компонентов
  min-height: 80px;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.centered-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px; /* Ограничение ширины */
  margin: 0 auto;
  padding: 0 30px; /* Отступы по бокам */
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.image-button img {
  height: 65px; /* Размер изображений */
  width: 65px;
  object-fit: contain;
}
